<div id="panel">
	<div class="row">
		<div class="twelve columns">
			<img src="{{directory}}/images/info.png" class="pics" alt="info">
			<div class="infotext">
				 Thank you for visiting my theme! Replace this with your message to visitors.
			</div>
		</div>
	</div>
</div>
<p class="slide">
	<a href="#" class="btn-slide"></a>
</p>
<!-- HEADER
================================================== -->
<div class="row">
	<div class="headerlogo four columns">
		<div class="logo">
			<a href="">
			<h4>Studio Francesca</h4>
			</a>
		</div>
	</div>
	<div class="headermenu eight columns noleftmarg">

    {{page.menu}}
    <!--<nav id="nav-wrap">
		<ul id="main-menu" class="nav-bar sf-menu">
			<li class="current">
			<a href="index.html">Home</a>
			<ul>
				<li><a href="index2.html">Without slider</a></li>
			</ul>
			</li>
			<li>
			<a href="#">Portofolio</a>
			<ul>
				<li><a href="portofolio2.html">2 Columns</a></li>
				<li><a href="portofolio3.html">3 Columns</a></li>
				<li><a href="portofolio4.html">4 Columns</a></li>
				<li><a href="portofoliodetail.html">Project Details</a></li>
			</ul>
			</li>
			<li>
			<a href="#">Blog</a>
			<ul>
				<li><a href="blogpage1.html">Blog page style 1</a></li>
				<li><a href="blogpage2.html">Blog page style 2</a></li>
				<li><a href="blogpage3.html">Blog page style 3</a></li>
				<li><a href="blogsinglepost.html">Single post</a></li>
			</ul>
			</li>
			<li>
			<a href="#">Pages</a>
			<ul>
				<li><a href="about.html">About us</a></li>
				<li><a href="services.html">Services</a></li>
			</ul>
			</li>
			<li>
			<a href="#">Features</a>
			<ul>
				<li><a href="columns.html">Columns</a></li>
				<li><a href="elements.html">Elements</a></li>
				<li><a href="typography.html">Typography</a></li>
			</ul>
			</li>
			<li>
			<a href="contact.html">Contact</a>
			</li>
		</ul>
		</nav>-->
	</div>
</div>
<div class="clear">
</div>
<!-- SLIDER
================================================== -->

  <div class="container-lg my-3">
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <!-- Carousel indicators -->
        {{page.slider}}
    </div>
</div>
<!-- SUBHEADER
================================================== -->
<!-- <div id="subheader">
	<div class="row">
		<div class="twelve columns">
			<p class="text-center">
				 "Vision is the art of seeing what is invisible to others" - Jonathan Swift
			</p>
		</div>
	</div>
</div> -->
<!-- ANIMATED COLUMNS
================================================== -->
<div class="row">
	<!--<div class="twelve columns">
		<ul class="ca-menu">
			<li>
			<a href="#">
			<span class="ca-icon"><i class="fa fa-heart"></i></span>
			<div class="ca-content">
				<h2 class="ca-main">Responsive<br/> Design</h2>
				<h3 class="ca-sub">Across all major devices</h3>
			</div>
			</a>
			</li>
			<li>
			<a href="#">
			<span class="ca-icon"><i class="fa fa-bullhorn"></i></span>
			<div class="ca-content">
				<h2 class="ca-main">Friendly<br/> Documentation</h2>
				<h3 class="ca-sub">Straight to the point</h3>
			</div>
			</a>
			</li>
			<li>
			<a href="#">
			<span class="ca-icon"><i class="fa fa-user"></i></span>
			<div class="ca-content">
				<h2 class="ca-main">Alternate<br/> Home Pages</h2>
				<h3 class="ca-sub">Full slider, boxed or none</h3>
			</div>
			</a>
			</li>
			<li>
			<a href="#">
			<span class="ca-icon"><i class="fa fa-camera"></i></span>
			<div class="ca-content">
				<h2 class="ca-main">Filterable<br/> Portofolio</h2>
				<h3 class="ca-s
			</li>
			<li>
			<a href="#">
			<span class="ca-icon"><i class="fa fa-user"></i></span>
			<div class="ca-content">
				<h2 class="ca-main">Alternate<br/> Home Pages</h2>
				<h3 class="ca-sub">Full slider, boxed or none</h3>
			</div>
			</a>
			</li>
			<li>
			<a href="#">
			<span class="ca-icon"><i class="fa fa-camera"></i></span>
			<div class="ca-content">
				<h2 class="ca-main">Filterable<br/> Portofolio</h2>
				<h3 class="ca-sub">Isotop & PrettyPhoto</h3>
			</div>
			</a>
			</li>
		</ul>
	</div>-->

  {{page.content}}
</div>
<!-- CONTENT
================================================== -->
<!--<div class="row">
	<div class="twelve columns">
		<div class="centersectiontitle">
			<h4>Services</h4>
		</div>
	</div>
	<div class="four columns">
		<h5>Photography</h5>
    <p>
    <img src="{{directory}}/images/5.jpg" alt="New york" style="width:270px;height:170px;">
    </p>
		<p>
			 Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.
		</p>
	</div>
	<div class="four columns">
		<h5>Artwork</h5>
    <p>
    <img src="{{directory}}/images/5.jpg" alt="New york" style="width:270px;height:170px;">
    </p>
		<p>
			 Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.
		</p>
	</div>
	<div class="four columns">
		<h5>Logos</h5>
    <p>
    <img src="{{directory}}/images/5.jpg" alt="New york" style="width:270px;height:170px;">
    </p>
		<p>
			 Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.
		</p>
	</div>
</div> -->
<div class="hr">
</div>


<!-- FOOOTER
================================================== -->
<div id="footer">
	<footer class="row">
	<p class="back-top floatright">
		<a href="#top"><span></span></a>
	</p>
	<div class="four columns">
		<!--<h1>ABOUT US</h1>
		 Our goal is to keep clients satisfied!-->
     {{page.footer_column_1}}
	</div>
	<div class="four columns">
		<!--<h1>GET SOCIAL</h1>
		<a class="social facebook" href="#"></a>
		<a class="social twitter" href="#"></a>
		<a class="social deviantart" href="#"></a>
		<a class="social flickr" href="#"></a>
		<a class="social dribbble" href="#"></a>-->
    {{page.footer_column_2}}
	</div>
	<div class="four columns">
  {{page.footer_column_3}}
		<!--<h1 class="newsmargin">NEWSLETTER</h1>
		<div class="row collapse newsletter floatright">
			<div class="ten mobile-three columns">
				<input type="text" class="nomargin" placeholder="Enter your e-mail address...">
			</div>
			<div class="two mobile-one columns">
				<a href="#" class="postfix button expand">GO</a>
			</div>
		</div>-->
	</div>
	</footer>
</div>
<div class="copyright">
	<div class="row">
  {{page.footer_column_4}}
		<!--<div class="six columns">
			 &copy;<span class="small"> Copyright Your Agency Name</span>
		</div>
		<div class="six columns">
			<span class="small floatright">Design by <a target="_blank" href="http://www.wowthemes.net/premium-themes-templates/">WowThemesNet</a> </span>
		</div>-->
	</div>
</div>
